<h1><b>Hello! Dear {{name}},</b></h1>
<h2>Please click below to config your email</h2>
<p>
    <a href="{{url}}"><i>Confirm</i></a>
</p>

<p>If you did not request this email you can safely ignore it.</p>